<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true"
	xmlns="http://logging.apache.org/log4j/2.0/config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config log4j-config.xsd">
	<Appenders>
		<Appender name="fichierBiblioCommon" type="File"
			fileName="biblioCommon.log">
			<Layout type="PatternLayout">
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</Layout>
		</Appender>
		<Appender name="hibernate" type="File"
			fileName="hibernate.log">
			<Layout type="PatternLayout">
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</Layout>
		</Appender>
		<Appender name="p6spy" type="File" fileName="p6spy.log">
			<Layout type="PatternLayout">
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
			</Layout>
		</Appender>
		<Appender type="Console" name="console">
			<Layout type="PatternLayout"
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Appender>
	</Appenders>
	<Loggers>
		<Logger name="org.hibernate" level="error" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="javax.persistence" level="error"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="p6spy" level="error" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework" level="error"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="com.m2i" level="debug" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="fichierBiblioCommon" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>